/*

palette - #E1D4FF (light purple)
        - #A47CFF (mid purple)
        - #171717 (black)
        - #181818 (text)
        - #9C9C9C (grey)
        - #EAEAEA (light grey)    
*/

/* General styles */
* {
  box-sizing: border-box;
}

img {
  display: block;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Sen", sans-serif;
  color: #181818;
  background: #f5f5f5;
  font-size: 16px;
}

main {
  padding: 1em;
  max-width: 900px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  font-weight: 900;
}

h1 {
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
  margin-top: 0;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
}

/* Interface elements */
button:hover,
.product-style:hover {
  cursor: pointer;
}

.primary-btn {
  width: 100%;
  margin: 1em 0;
  background: #171717;
  color: #fff;
  padding: 0.4em 0.7em;
  font-size: 1.1em;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #ccc;
}

.primary-btn:hover,
.primary-btn:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, #b709fe, #0ee0cc);
  transform: translateY(1px);
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #e1d4ff;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em 0;
}

.header .byline {
  color: #14154f;
  margin: 0;
  font-style: italic;
}

.header .logo {
  width: 40%;
  min-width: 200px;
  max-width: 400px;
}

/* Footer */
.footer {
  display: flex;
  margin: 0;
  padding: 2em 1em 3em 1em;
  background: #eaeaea;
  color: #9c9c9c;
}
.footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1em;
}

.footer nav a {
  color: #757272;
  text-decoration: none;
}

.footer nav a:hover {
  color: #14154f;
}

/* Product */
.product {
  width: 100%;
  display: grid;
  gap: 0.5em 2em;
  margin-bottom: 2em;
  width: calc(100% - 10px);
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  grid-template-areas:
    "details    details"
    "product    product"
    "choice     choice"
    "lenses     frames"
    "buy        buy";
}

.product-image {
  min-height: 220px;
  grid-area: product;
  position: relative;
}

.product-image_frame {
  position: absolute;
  background: #a5305b;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: 250%;
  mask-size: 250%;
}

.product-image_lenses {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: 250%;
  mask-size: 250%;
}

.product ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Product details */
.product-details {
  grid-area: details;
}

.product-details p {
  font-size: 1.5em;
}
.product-details p:first-of-type {
  font-size: 0.9em;
}

/* Product frame styles */
.product-style {
  grid-area: choice;
  margin-top: 0.2em;
  gap: 0.4em;
  align-items: center;
  width: calc(100%, -20px);
  position: relative;
  z-index: 1;
}

.product-style li {
  position: relative;
  flex-grow: 1;
}

.product-style img {
  width: 100%;
}

/* Product clor swatches */
.product-swatches {
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 1;
}

.product-lenses {
  grid-area: lenses;
}

.product-frames {
  grid-area: frames;
}

.product-color-swatch {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 47px;
  border: none;
  color: transparent;
}

.product-color-swatch.selected {
  outline: none;
  position: relative;
}

.product-color-swatch.selected:before,
.product-style li:has(.selected):before {
  content: "";
  width: 100%;
  height: 100%;
  padding: 3px;
  background: linear-gradient(to bottom, #b709fe, #0ee0cc);
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
}

.product-color-swatch.selected:before {
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.product-buy {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: buy;
}

/* Frames - masked layers */
.frame-wayfarer .product-image_frame {
  -webkit-mask-image: url("./images/masks/sunnies-standard.svg");
  mask-image: url("./images/masks/sunnies-standard.svg");
}
.frame-wayfarer .product-image_lenses {
  -webkit-mask-image: url("./images/masks/sunnies-standard-lenses.svg");
  mask-image: url("./images/masks/sunnies-standard-lenses.svg");
}

.frame-half .product-image_frame {
  -webkit-mask-image: url("./images/masks/sunnies-half.svg");
  mask-image: url("./images/masks/sunnies-half.svg");
}
.frame-half .product-image_lenses {
  -webkit-mask-image: url("./images/masks/sunnies-half-lenses.svg");
  mask-image: url("./images/masks/sunnies-half-lenses.svg");
}

.frame-round .product-image_frame {
  -webkit-mask-image: url("./images/masks/sunnies-round.svg");
  mask-image: url("./images/masks/sunnies-round.svg");
}
.frame-round .product-image_lenses {
  -webkit-mask-image: url("./images/masks/sunnies-round-lenses.svg");
  mask-image: url("./images/masks/sunnies-round-lenses.svg");
}

.frame-aviator .product-image_frame {
  -webkit-mask-image: url("./images/masks/sunnies-aviator.svg");
  mask-image: url("./images/masks/sunnies-aviator.svg");
}
.frame-aviator .product-image_lenses {
  -webkit-mask-image: url("./images/masks/sunnies-aviator-lenses.svg");
  mask-image: url("./images/masks/sunnies-aviator-lenses.svg");
}

/* colours */
.color-sepia {
  background: rgb(77, 35, 17);
  background: radial-gradient(
    circle,
    rgba(77, 35, 17, 1) 0%,
    rgba(131, 72, 48, 1) 42%,
    rgba(252, 176, 69, 1) 100%
  );
}

.color-rainbow {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.color-iridescent {
  background: rgb(126, 155, 203);
  background: linear-gradient(
    90deg,
    rgba(126, 155, 203, 1) 0%,
    rgba(48, 79, 131, 1) 17%,
    rgba(26, 15, 89, 1) 43%,
    rgba(130, 204, 251, 1) 100%
  );
}

.color-rose {
  background: #a5305b;
}

.color-tan {
  background: #885a0d;
}

.color-charcoal {
  background: #3a3938;
}

/* Helper styles */
.flex {
  display: flex;
}

/* Desktop version */
@media screen and (min-width: 600px) {
  .product {
    grid-auto-rows: min-content;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "product    details"
      "product    lenses"
      "choice     frames"
      ".          buy";
  }
  .product-swatches-container {
    flex-direction: column;
  }
  .product {
    margin-top: 4em;
  }
}
